
course_materials/.DS_Store
course_materials/activities/.DS_Store
course_materials/activities/decompoing_effects.html
course_materials/activities/logreg_answer.html
course_materials/data/.DS_Store
course_materials/labs/.DS_Store
course_materials/labs/lab1/.DS_Store
