
course_materials/.DS_Store
course_materials/activities/.DS_Store
course_materials/activities/decompoing_effects.html
course_materials/activities/logreg_answer.html
course_materials/data/.DS_Store
course_materials/labs/.DS_Store
course_materials/.DS_Store
course_materials/labs/lab1/.DS_Store
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-6_626142d76999afd0119bdb1735578fce.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-6_626142d76999afd0119bdb1735578fce.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-6_626142d76999afd0119bdb1735578fce.RData
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-5_13338518f3a0bfc134436697c2068f25.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-5_13338518f3a0bfc134436697c2068f25.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-5_13338518f3a0bfc134436697c2068f25.RData
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-4_55a2bcea8438e8b3aa05188ebe6f06e7.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-4_55a2bcea8438e8b3aa05188ebe6f06e7.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-4_55a2bcea8438e8b3aa05188ebe6f06e7.RData
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-3_5ce8d1e445b7012dd160b592dcbeddb5.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-3_5ce8d1e445b7012dd160b592dcbeddb5.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-3_5ce8d1e445b7012dd160b592dcbeddb5.RData
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-2_1eb01bdfec4503818f081b6791d3a4fc.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-2_1eb01bdfec4503818f081b6791d3a4fc.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-2_1eb01bdfec4503818f081b6791d3a4fc.RData
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-1_db7128801348fef8baee437189e5994b.rdx
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-1_db7128801348fef8baee437189e5994b.rdb
course_materials/labs/lab6/lab6_cache/html/unnamed-chunk-1_db7128801348fef8baee437189e5994b.RData
course_materials/labs/lab6/lab6_cache/html/__packages
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-7-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-6-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-5-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-4-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-3-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-13-1.png
course_materials/labs/lab6/lab6_answers_files/figure-html/unnamed-chunk-12-1.png
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-9_c90aef793d5caaccfc0b8fb6dafbcd08.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-9_c90aef793d5caaccfc0b8fb6dafbcd08.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-9_c90aef793d5caaccfc0b8fb6dafbcd08.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-8_f64908cbf3cb38b8bb9991e048c621e7.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-8_f64908cbf3cb38b8bb9991e048c621e7.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-8_f64908cbf3cb38b8bb9991e048c621e7.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-7_778a8ec1fd12da68205b19a323f46a09.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-7_778a8ec1fd12da68205b19a323f46a09.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-7_778a8ec1fd12da68205b19a323f46a09.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-6_072262d2a8522c8115588f5645d049b4.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-6_072262d2a8522c8115588f5645d049b4.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-6_072262d2a8522c8115588f5645d049b4.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-5_95c988b5321a8ccea762943d2595e3d9.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-5_95c988b5321a8ccea762943d2595e3d9.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-5_95c988b5321a8ccea762943d2595e3d9.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-4_d415fe80e022eab21bb8e85bd39357d7.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-4_d415fe80e022eab21bb8e85bd39357d7.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-4_d415fe80e022eab21bb8e85bd39357d7.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-3_8e819f81426de54f806b4e15b4cc4580.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-3_8e819f81426de54f806b4e15b4cc4580.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-3_8e819f81426de54f806b4e15b4cc4580.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-2_34d7b772d4f99782b113314cf5df7169.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-2_34d7b772d4f99782b113314cf5df7169.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-2_34d7b772d4f99782b113314cf5df7169.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-1_66dde2d28bd5c4f353d5e5d28ae480a3.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-1_66dde2d28bd5c4f353d5e5d28ae480a3.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-1_66dde2d28bd5c4f353d5e5d28ae480a3.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-13_aa994a67cb36cd2e931e3fb43a82d8ba.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-13_aa994a67cb36cd2e931e3fb43a82d8ba.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-13_aa994a67cb36cd2e931e3fb43a82d8ba.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-12_17fe4400b7b0824783d27b7cddf7f74e.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-12_17fe4400b7b0824783d27b7cddf7f74e.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-12_17fe4400b7b0824783d27b7cddf7f74e.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-11_3f8795f760ab3f28515bb1ce29e0e435.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-11_3f8795f760ab3f28515bb1ce29e0e435.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-11_3f8795f760ab3f28515bb1ce29e0e435.RData
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-10_9644728c72cf35d9d2c3de490718d8cf.rdx
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-10_9644728c72cf35d9d2c3de490718d8cf.rdb
course_materials/labs/lab6/lab6_answers_cache/html/unnamed-chunk-10_9644728c72cf35d9d2c3de490718d8cf.RData
